
<footer class="footer">
    <div class="footer_top">
        <div class="footer_infor">
            <ul class="footer_infor_list">
                <li class="footer_infor_item">
                    <a class="footer_infor_link">Câu hỏi thường gặp khi Đặt hàng</a>
                </li>
                <li class="footer_infor_item">
                    <a class="footer_infor_link">Tra cứu thông tin bảo hành</a>
                </li>
                <li class="footer_infor_item">
                    <a class="footer_infor_link">Tin tuyển dụng</a>
                </li>
                <li class="footer_infor_item">
                    <a class="footer_infor_link">Chính sách khuyến mãi</a>
                </li>
                <li class="footer_infor_item">
                    <a class="footer_infor_link">Chính sách đổi trả</a>
                </li>
                <li class="footer_infor_item">
                    <a class="footer_infor_link">Chính sách bảo mật</a>
                </li>
                <li class="footer_infor_item">
                    <a class="footer_infor_link">Kiểm tra hóa đơn điện tử</a>
                </li>
                <li class="footer_infor_item">
                    <a class="footer_infor_link">Chính sách trả góp</a>
                </li>
                <li class="footer_infor_item">
                    <a class="footer_infor_link">Quy chế hoạt động</a>
                </li>
            </ul>
        </div>
        <div class="footer_left">
            <div class="footer_call">
                <ul class="footer_call_list">
                    <li class="footer_call_item">
                        <h3 class="call_heading">Tư vấn Đặt hàng (24/7)</h3>
                        <p class="call_ct"><b class="call_bct">0988 0909</b> (Miễn phí)</p>
                    </li>
                    <li class="footer_call_item">
                        <h3 class="call_heading">Khiếu nại (8h-22h)</h3>
                        <p class="call_ct"><b class="call_bct">0988 0908</b> (Miễn phí)</p>
                    </li>
                    <li class="footer_call_item">
                        <h3 class="call_heading">Hỗ trợ kĩ thuật (24/7)</h3>
                        <p class="call_ct"><b class="call_bct">0988 0907</b> (Miễn phí)</p>
                    </li>
                </ul>
            </div>
            <div class="footer_pay">
                <h3 class="pay_heading">Hỗ trợ thanh toán:</h3>
                <div class="pay_icon">
                    <i class="icon_visa fa-brands fa-cc-visa"></i>
                    <i class="icon_paypal fa-brands fa-cc-paypal"></i>
                    <i class="icon_apple_pay fa-brands fa-cc-apple-pay"></i>
                    <i class="icon_mastercard fa-brands fa-cc-mastercard"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="footer_bt_ct">Công ty trách nhiệm hữu hạn một thành viên Lê Văn Tính - Trường Đại học Thủ Dầu Một.<br>Email: 2124801030225@student.tdmu.edu.vn. Chịu trách nhiệm nội dung: Ông Lê Văn Tính</div>
    </div>
</footer>