
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using LeVaTiShop.Models
@{
    User u = (User)Session["User"];
}

<div class="boxContent">
    <form class="relo_container" id="changePasswordForm" action="@Url.Action("ChangePassword", "Login")" method="post">
        <div class="input-container">
            <h3 style="text-align: center; font-size: 24px;">Đổi mật khẩu</h3>
        </div>
        <div class="input-container">
            <input type="password" class="relo_input" name="password" pattern="[a-zA-Z0-9]+" id="relo_input_pass" required="">
            <label class="relo_label">Mật khẩu cũ</label>
        </div>
        <div class="input-container">
            <input type="password" class="relo_input" name="newPassword" pattern="[a-zA-Z0-9]+"  id="relo_input_repass" required="">
            <label class="relo_label">Mật khẩu mới</label>
        </div>
        <div class="input-container">
            <input type="password" class="relo_input" name="reNewPassword" pattern="[a-zA-Z0-9]+" id="relo_input_repass2" required="">
            <label class="relo_label">Xác nhận lại mật khẩu</label>
        </div>
        <div class="relo_hidden">
            <input type="checkbox" class="relo_inputcheck" onclick="hiddenpass()">
            <div class="relo_hiddenct">Hiện mật khẩu</div>
        </div>
        <div class="input-container">
            <input type="hidden" value="@u.idUser" name="kh" required="">
        </div>
        <div class="input-container">
            <button type="submit" class="btn relo_btnr">Cập nhật</button>
        </div>
    </form>
</div>
<script>
    document.getElementById('changePasswordForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Ngăn chặn gửi form mặc định

        // Gọi hàm kiểm tra dữ liệu trước khi gửi form
        validateForm();
    });

    // Hàm kiểm tra dữ liệu trước khi gửi form
    function validateForm() {
        var password = document.getElementsByName('password')[0].value; // Sử dụng [0] để lấy giá trị của trường đầu tiên
        var newPassword = document.getElementsByName('newPassword')[0].value;
        var reNewPassword = document.getElementsByName('reNewPassword')[0].value;

        if (newPassword !== reNewPassword) {
            presen_modal('Mật khẩu và Xác nhận mật khẩu không khớp!');
            return;
        }

        // Nếu dữ liệu hợp lệ, tiến hành gửi form
        document.getElementById('changePasswordForm').submit();
    }
</script>
