@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Login.cshtml";
}


<div class="relo">
    <div class="relo_bg"></div>
    <div class="relo_body">
        <div class="relo_container">
            <div class="relo_head">
                <h3 class="relo_heading">Đăng ký</h3>
                <a href="@Url.Action("Login", "Login")" class="relo_relo">Đăng nhập</a>
            </div>
            <div class="relo_form">


                <div class="input-container">
                    <input type="text" class="relo_input" name="" required="">
                    <label class="relo_label">Tên đăng nhập</label>
                </div>
                <div class="input-container input-container_min">
                    <input type="password" class="relo_input" name="" required="">
                    <label class="relo_label">Mật khẩu</label>
                </div>
                <div class="input-container input-container_min">
                    <input type="password" class="relo_input" name="" required="">
                    <label class="relo_label">Nhập lại mật khẩu</label>
                </div>
                <div class="input-container input-container_min">
                    <input type="text" class="relo_input" name="" required="">
                    <label class="relo_label">Họ và tên</label>
                </div>
                <div class="input-container input-container_min">
                    <input type="tel" class="relo_input" name="" required="">
                    <label class="relo_label">Số điện thoại</label>
                </div>
                <div class="input-container">
                    <input type="text" class="relo_input" name="" required="">
                    <label class="relo_label">Email</label>
                </div>
                <div class="input-container">
                    <input type="text" class="relo_input" name="" required="">
                    <label class="relo_label">Địa chỉ</label>
                </div>

                <div class="relo_hidden">
                    <input type="checkbox" class="relo_inputcheck" onclick="hiddenpass()">
                    <div class="relo_hiddenct">Hiện mật khẩu</div>
                </div>
            </div>
            <div class="relo_formaside">
                <p class="relo_dieukhoang">
                    Bằng việc đăng ký, bạn đã đồng ý với H&T Shop về
                    <a class="dieukhoang" href="#">Điều khoảng dịch vụ</a> &
                    <a class="dieukhoang" href="#">Chính sách bảo mật</a>
                </p>
            </div>
            <div class="relo_btn">
                <a href="@Url.Action("Index", "Home")">
                    <button class="relo_btnl btn">TRỞ LẠI</button>
                </a>
                <a href="#">
                    <button class="relo_btnr btn">ĐĂNG KÝ</button>
                </a>
            </div>
        </div>
        <div class="relo_social">
            <a href="#" class="btn icon_fb btn_wicon" onclick="not_login()">
                <i class="btn_icon fab fa-facebook-square"></i>
                <span class="title_content">Kết nối với Facebook</span>
            </a>
            <a href="#" class="btn icon_gg btn_wicon" onclick="not_login()">
                <i class="btn_icon fab fa-google"></i>
                <span class="title_content">Kết nối với Google</span>
            </a>
        </div>
    </div>
</div>