@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="help_content">
    <ul class="cps_list">
        <li class="cps_item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        <li class="cps_ic">❯</li>
        <li class="cps_item">Trợ giúp</li>
    </ul>
    <div class="help_search w-75">
        <div class="d-grid">
            <div class="help_searchhead">
                Xin chào. H&T shop có thể giúp gì cho bạn.
            </div>
            <input type="text" class="help_searchinput" placeholder="Đặt câu hỏi hoặc nhập từ khóa">
            <div class="d-flex justify-content-center">
                <button class="btn btn_submit">Gửi</button>
            </div>

        </div>
    </div>

    @*<div class="help_articles w-25">
            <h2>Các bài viết hướng dẫn</h2>
            <ul>
                <li><a href="#">Cách đặt hàng</a></li>
                <li><a href="#">Hướng dẫn thanh toán</a></li>
                <li><a href="#">Cách theo dõi đơn hàng</a></li>
            </ul>
        </div>*@
</div>
