@{
    ViewBag.Title = "Trợ giúp - H&T Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="help_content">
    <ul class="cps_list">
        <li class="cps_item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        <li class="cps_ic">❯</li>
        <li class="cps_item">Trợ giúp</li>
    </ul>
    <div class="help_search w-75">
        <div class="d-grid">
            <div class="help_searchhead">
                Xin chào. H&T shop có thể giúp gì cho bạn.
            </div>
            <input type="text" class="help_searchinput" name="message" placeholder="Đặt câu hỏi hoặc nhập từ khóa">
            <div class="d-flex justify-content-center">
                <button class="btn btn_submit" id="feedback">Gửi</button>
            </div>
        </div>
    </div>
</div>
<script>
       $(document).ready(function () {
           $('#feedback').on('click', function () {
               var message = document.getElementsByName('message')[0].value;

                // Gửi yêu cầu Ajax để thêm sản phẩm vào giỏ hàng
                $.ajax({
                    url: '/Home/Help',
                    method: 'POST',
                    data: {
                        message: message
                    },
                    success: function (response) {
                        if (response.code) {
                            toastr.success(response.msg);
                        } else {
                            toastr.error(response.msg);
                        }
                    },
                    error: function () {
                        // Xử lý lỗi yêu cầu Ajax (nếu có)
                        alert('Đã xảy ra lỗi khi gửi yêu cầu.');
                    }
                });
            });
       });
</script>
