<div class="slideshow">
    <div class="myslide">
        <a href="product_realme-gt-neo2-5g.html" class="slide_aimg">
            <img src="~/set/img/slideshow/gtneo2.jpg" class="slide_img">
        </a>
    </div>
    <div class="myslide">
        <a href="product_iphone-11.html" class="slide_aimg">
            <img src="~/set/img/slideshow/iphone_11_chinh_hang.jpg" class="slide_img">
        </a>
    </div>

    <div class="myslide">
        <a href="product_iphone-12.html" class="slide_aimg">
            <img src="~/set/img/slideshow/iphone_12_chinh_hang.jpg" class="slide_img">
        </a>
    </div>

    <div class="myslide">
        <a href="product_xiaomi-redmi-k30-5g.html" class="slide_aimg">
            <img src="~/set/img/slideshow/redmi_k30_5g.jpg" class="slide_img">
        </a>
    </div>

    <div class="myslide">
        <a href="product_samsung-galaxy-z-flip3-5g.html" class="slide_aimg">
            <img src="~/set/img/slideshow/galaxy_zlip3.jpg" class="slide_img">
        </a>
    </div>

    <div class="myslide">
        <a href="product_iphone-13-pro-max.html" class="slide_aimg">
            <img src="~/set/img/slideshow/iphone_13_pro_max.jpg" class="slide_img">
        </a>
    </div>
    <div class="slide_prev" onclick="plusSlides(-1)">❮</div>
    <div class="slide_next" onclick="plusSlides(1)">❯</div>

    <div class="slide_list">
        <div class="slide_link demo" onclick="currentSlide(1)">
            <p class="slide_linkct">Realme GT Neo 2 5G</p>
        </div>
        <div class="slide_link demo" onclick="currentSlide(2)">
            <p class="slide_linkct">iPhone 11 chính hãng</p>
        </div>
        <div class="slide_link demo" onclick="currentSlide(3)">
            <p class="slide_linkct">iPhone 12 chính hãng</p>
        </div>
        <div class="slide_link demo" onclick="currentSlide(4)">
            <p class="slide_linkct">Redmi K30 5G giá rẻ</p>
        </div>
        <div class="slide_link demo" onclick="currentSlide(5)">
            <p class="slide_linkct">Samsung Galaxy Z Flip 3</p>
        </div>
        <div class="slide_link demo" onclick="currentSlide(6)">
            <p class="slide_linkct">iPhone 13 Pro Max</p>
        </div>
    </div>
    <div class="slide_id">
        <div class="slide_idd"></div>
        <div class="slide_idd"></div>
        <div class="slide_idd"></div>
        <div class="slide_idd"></div>
        <div class="slide_idd"></div>
        <div class="slide_idd"></div>
    </div>
    <script>
                        let slideIndex = 1;
                        showSlides(slideIndex);
    </script>
</div>
