@model IEnumerable<LeVaTiShop.Models.Order>

@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="w-100 p-4">
    <ul class="cps_list">
        <li class="cps_item"><a href="@Url.Action("Index", "Home")">Quay lại trang chủ</a></li>
    </ul>
</div>
<h3 class="text-center">@ViewBag.Msg</h3>

