
@{
    ViewBag.Title = "Thêm slide";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<button type="button" name="add">Thêm slide </button>
<button type="button" name="edit">Sửa slide</button>
<button type="button" name="delete">Xóa slide </button>


@section scripts {
    <script>
        $(document).ready(function () {
            $(document).on('click', "button[name='add']", function () {
                loadContent();
                loadProductList();
            });
            $(document).on('click', "button[name='edit']", function () {
                loadContent();
                loadProductList();
            });
            $(document).on('click', "button[name='edit']", function () {
                loadContent();
                loadProductList();
            });
            function loadContent() {
                $('#modalbox_heading').text('SlideShow');
                $('#modalbox_ct').empty();
                var content = '<form>\
                                  <div class="form-group">\
                                     <label for="imageInput">Image:</label>\
                                     <input type="file" class="form-control-file" id="imageInput">\
                                  </div>\
                                  <div class="form-group">\
                                     <label for="optionSelect">Option:</label>\
                                     <select class="form-control" id="optionSelect">\
                                     </select>\
                                  </div>\
                               </form>';
                $('#modalbox_ct').append(content);
                $('#modal_admin').show();
                hide_Model("modal_admin");
            }
            function loadProductList() {
                $.ajax({
                    url: '@Url.Action("listProduct")',
                    type: 'get',
                    success: function (data) {
                        if (data.code) {
                            var options = "<option value=''>Chọn sản phẩm</option>";
                            for (var i = 0; i < data.listPro.length; i++) {
                                var product = data.listPro[i];
                                options += "<option value='" + product.idProduct + "'>" + product.nameProduct + "</option>";
                            }
                            $("#optionSelect").html(options);
                        } else {
                            toastr.error(data.msg);
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error('Error occurred while fetching product list.');
                    }
                });
            }


            $("#btnDelete").click(function () {
                var imageInput = document.getElementById("imageInput");
                var optionSelect = document.getElementById("optionSelect");

                var selectedOption = optionSelect.options[optionSelect.selectedIndex].value;
                var imageFile = imageInput.files[0];

                var formData = new FormData();
                formData.append("selectedOption", selectedOption);
                formData.append("imageFile", imageFile);

                $.ajax({
                    url: '/Admin/Other/AddSlide',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function () {
                        $('#modal_admin').hide();
                        toastr.success('Thêm thành công');
                    }
                });
            });
        });
    </script>
}
